{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Interest free Loan Program</title>
  <link rel="stylesheet" href="{% static 'css/loan_program.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    {% include 'partials/header.html' %}
    <section class="page-header" style="background: url('/static/images/header-bg.jpg') center center / cover no-repeat;">
        <h1>NGO for Interest free Loan in Santhia, Pabna</h1>
        <nav class="breadcrumb">
        <a href="{% url 'home' %}">Home</a> &gt;
        <a href="{% url 'home' %}#programsSection">Programs</a> &gt;
        <span>Loan Program</span>
        </nav>
    </section>

  <main class="content">
    <section class="left-column">
      <h2>Empowering Communities with Interest-Free Loans</h2>
      <p>
        Through this initiative, the Foundation provides micro-loans without any interest or processing fees. These funds enable recipients to launch or expand small businesses, purchase agricultural tools, or support income-generating activities. The repayment model is flexible, community-based, and rooted in trust and accountability. This cycle of lending and repaying helps the Foundation reinvest the funds to support other families in need.
      </p>
      <img src="{% static 'images/loan.jpg' %}" alt="Child Education" class="education-image">

      <ul class="point-list">
        <li>Beneficiaries repay only the principal amount, making the loan affordable and stress-free.</li>
        <li>Loans are provided to help individuals start or expand small enterprises, especially in rural areas.</li>
        <li>Priority is given to women and unemployed youth to promote financial independence and empowerment.</li>
        <li>Repayment schedules are designed based on the borrower’s income capacity, ensuring minimal financial pressure.</li>
        <li>The program aims to uplift entire communities by encouraging self-employment and reducing poverty sustainably.</li>
       </ul>

       <div class="mission-objective">
            <a href="{% url 'our-mission' %}" class="box-link">
                <div class="box">
                    <strong>📘 Our Mission</strong><br>
                    The mission of Youth Helping Trust is overcoming poverty, and ensuring a life...
                </div>
            </a>

            <a href="{% url 'our-objective' %}" class="box-link">
                <div class="box">
                    <strong>🎯 Our Objective</strong><br>
                    Youth Helping Trust empowering and health community-based organization...
                </div>
            </a>
        </div>

      
    </section>

    <aside class="right-sidebar">
      <div class="program-list">
        <ul>
            <li><a href="{% url 'education' %}">Child Education NGO in Santhia</a></li>
            <li><a href="{% url 'health' %}">Health Care Program</a></li>
            <li><a href="{% url 'women-empowerment' %}">Women Empowerment Program</a></li>
            <li><a href="{% url 'vocational-training' %}">Vocational Training Program</a></li>
            <li><a href="{% url 'loan-program' %}" class="highlighted-program"">Interest free Loan Program</a></li>
        </ul>
      </div>

        <div class="contact-box">
            <img src="{% static 'images/telephone.png' %}" alt="Call Icon" class="call-icon">
            <p>Have any questions? Call us!</p>
            <h4>+880 1798772429</h4>
            <p class="info">info@bdf.org</p>
        </div>

      <!--<div class="donate-box">
        <h4>Contribute To Women’s Empowerment</h4>
        <p>
            Your donation can change a woman’s life. By supporting our empowerment programs, you help women gain skills, education, and opportunities to build a better future. Empowered women uplift families and drive lasting community progress. Join us in creating a world where every woman has the chance to thrive and succeed.
        </p>
        <a href="#" class="donate-btn">
            Donate Now
            <img src="{% static 'images/heart.png' %}" alt="Donate Icon" class="donate-icon">
        </a>
      </div>-->
    </aside>
  </main>
{% include 'partials/footer.html' %}
<script src="{% static 'js/smooth-scroll.js' %}"></script>
</body>
</html>
